*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #fff;
    --bg-color-secondary: #FFF6F6;
    --text-color: #101A24;
    --text-color-secondary: #5C6574;
    --btn-green: #FFC0C0; 
    --font-judul: "David Libre", serif;
    --font-isi: "Inter", sans-Serif
}

body{
    background: var(--bg-color);
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 10px;
    width: 160px;
    height: 56px;
    flex-shrink: 0;
}

.navbar {
    margin-top: 32px;
}

.navbar a {
    margin-right: 45px;
    color: var(--text-third);
    font-family: var(--font-isi);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

.button {
    background-color: var(--btn-green);
    margin-top: 15px;
    color: #fff;
    font-family: var(--font-judul);
    font-size: 16px;
    padding: 10px 19px;
    font-weight: 500;
    line-height: 29px;
    border-radius: 15px 0;
}

.hero{
    display: flex;
    padding: 30px 100px;
}

.hero .left{
    margin-top: 180px;
    margin-right: 150px;
    margin-bottom: 150px;
}

.hero .left h1{
color: var(--text-color);
font-family: var(--font-judul);
font-size: 4rem;
font-style: normal;
font-weight: 700;
line-height: 4.5rem;
}

.hero .left p{
width: 26.5rem;
height: 5.25rem;
flex-shrink: 0;
color: var(--text-color-secondary);
font-family: var(--font-isi);
margin-top: 2rem;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.8125rem; 
margin-bottom: 4rem;
}

.btn-hero{
    margin-top: 49px;
    margin-bottom: 60px;
}

.menu{
    color: #fff;
    background-color: var(--btn-green);
    font-family: var(--font-judul);
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    border-radius: 15px 0;
}

.book{
    color: #fff;
    background-color: var(--btn-green);
    font-family: var(--font-judul);
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    border-radius: 15px 0;
}

.social-media a{
    display: inline-flex;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background: transparent;
    border: 1px solid var(--text-color);
    padding: 10px;
    border-radius: 50%;
    color: var(--text-color);
}

.right{
    margin-top: 100px;
    margin-bottom: 100px;
}

.dish{
    padding: 30px 100px;
    background: var(--bg-color-secondary);
}

.dish h1{
    text-align: center;
    color: var(--text-color);
    text-align: center;
    font-family: var(--font-judul);
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    margin-top: 60px;
}

.dish .keterangan{
    margin-top: 21px;   
    color: #5C6574;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

.dish-menu{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.dish-menu .dish-card{
    background: none;
    border: 2px solid var(--bg-color);
    padding: 1.5rem 2rem;
    border-radius: 20px 0;
    transition: .5s ease;
}

.dish-menu .dish-card:hover{
    background: var(--bg-color);
    transform: scale(1.08);
}

.dish-menu .dish-card img{
    margin-bottom: 15px;
    width: 200px;
    height: auto;
}

.dish-menu .dish-card h3{
    margin-bottom: 15px;
    color: var(--text-color);
    text-align: center;
    font-family: var(--font-judul);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.dish-menu .dish-card p{
    margin-top: 21px;
    color: #5C6574;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 173.333% */
}

/*welcome*/

.welcome{
    padding: 30px 30px 100px;
    background-color: var(--bg-color-secondary);
    display: flex;
}

.welcome img{
    margin-top: 130px;
    width: 500px;
    height: auto;
}

.konten{
    margin-top: 280px;
    margin-left: 37px;
}

.konten h1{
    color: var(--text-color);
    font-family: var(--font-judul);
    font-size: 60px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 108.333% */
}

.konten p{
    color: var(--text-color-secondary);
    font-family: var(--font-isi);
    font-size: 16px;
    font-style: normal;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 29px; /* 181.25% */
    width: 40.5rem;
height: 5.25rem;
}


.chef {
    display: flex;
    padding: 100px 70px;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.experts-chef {
    margin-top: 100px;
}

.chef .profil-chef {
    width: 482px;
    height: 655px;
    border-radius: 0 80px;
}

.experts-chef h1 {
    color: var(--text-color);
    font-family: var(--font-judul);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 30px;
}

.experts-chef .chef-des {
    color: var(--text-color-secondary);
    font-family: var(--font-isi);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 20px;
}

.skills {
    display: flex;
}

.point {
    display: flex;
    margin-bottom: 33px;
    margin-left: 10px;

}

.point img {
    margin-right: 6px;
    
}

.point p {
    color: var(--text-color-secondary);
    font-family: var(--font-isi);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin-left: 1rem;
    line-height: 21px;
}

.customer {
    padding: 50px 100px;
    background-color: var(--bg-color-secondary);
}

.customer h1 {
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    font-family: var(--font-judul);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
}

.cus-des {
    margin-top: 18px;
    margin-right: auto;
    margin-left: auto;
    width: 376px;
    height: 56px;
    flex-shrink: 0;
    color: var(--text-color-secondary);
    text-align: center;
    font-family: var(--font-isi);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

.wrap-card {
    display: flex;
    margin-top: 50px;
    gap: 100px;
}

.card-customer {
    background: var(--bg-color);
    text-align: center;
    padding: 20px 25px;
    border-radius: 80px 20px;
}

.card-customer .img-cus {
    margin-bottom: 20px;
}

.comment {
    margin-top: 10px;
    color: var(--text-color-secondary);
    text-align: center;
    font-family: var(--font-isi);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

.name-cus {
    margin-top: 16px;
    color: var(--text-color);
    font-family: var(--font-isi);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
}

.jabatan {
    color: var(--text-color-secondary);
    text-align: center;
    font-family: var(--font-isi);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

/* footer */

.footer {
    padding: 100px 100px;
}

.atas {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.address img {
    margin-bottom: 21px; 
}

.address .add {
    color: var(--text-color-secondary);
    font-family: var(--font-isi);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    width: 408px;
    height: 90px;
}

.open {
    margin-top: 10px;
    color: var(--text-color);
    font-family: var(--font-isi);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.hours {
    display: flex;
}

.day {
    margin-right: 30px;
    color: var(--text-color-secondary);
    font-family: var(--font-isi);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

.navigation-footer {
    display: flex;
    flex-direction: column;
}

.title-footer {
    color: var(--text-color);
    font-family: var(--font-isi);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}

.navigation-footer a {
    color: #5C6574;
    font-family: var(--font-isi);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.dishes-footer {
    display: flex;
    flex-direction: column;
}

.dishes-footer a {
    color: #5C6574;
    font-family: var(--font-isi);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 250% */
}

.sosmed-footer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background: transparent;
    border: 1px solid var(--text-color);
    padding: 7px;
    border-radius: 50%;
    color: var(--text-color);
}

.bawah {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.bawah p {
    color: var(--text-color-secondary);
    font-family: var(--font-isi);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

.privacy {
    display: flex;
    gap: 30px;
}


